#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.track {
  list-style: none;
  padding: 10px;
  margin-block-end: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.track-title {
  cursor: pointer;
  margin-block-end: 10px;
}
