#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.track {
  list-style: none;
  padding: 10px;
  margin-block-end: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(71, 39, 16);
}

.track-title {
  cursor: pointer;
  margin-block-end: 10px;
}

.tracks-wrapper {
  display: flex;
  gap: 20px;
}

.track-details {
  min-width: 120px;
  max-height: 420px;
  border-radius: 5px;
  background-color: rgb(36, 66, 66);

  padding: 10px;
}

.track-img {
  max-width: 120px;
}

h1,
button {
  margin-block-end: 20px;
}
