:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.track {
  list-style: none;
  padding: 10px;
  margin-block-end: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgb(71, 39, 16);
}

.track__top {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block-end: 10px;
}

.track-title {
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: ;
  margin-block-end: 10px;
}

.tracks-wrapper {
  display: flex;
  gap: 20px;
}

.track-details {
  min-width: 120px;
  max-height: 420px;
  border-radius: 5px;
  background-color: rgb(36, 66, 66);

  padding: 10px;
}

.track-img {
  max-width: 80px;
  width: 100%;
  border-radius: 5px;
}

h1,
button {
  margin-block-end: 20px;
}

.page-wrapper {
  padding: 20px;
}
